flask
flask-restful
flask-cors
flask-cognito
boto3
requests
validators
celery[redis]
furl
ruamel.yaml
flask-redis
webargs
aiobotocore[awscli]
--extra-index-url="https://packages.dea.gadevs.ga" odc-apps-cloud
--extra-index-url="https://packages.dea.gadevs.ga" odc-apps-dc-tools
